ion-content.background {
    --background: url(../../assets/icon/thomas-tucker-391058-unsplash.jpg) 0 0/100% 100% no-repeat;

}

div.opacity {
  background-color: rgba(0,0,0,0.5);
  height: 100%;

}

p.center-p {
  position: relative;
  text-align: center;
  top: 36%;
  margin-top: 150px;
  font-size: 2em;
  text-transform: capitalize;
  font-family: karla, sans-serif;
  width: 100%;
  font-weight: bold;
  color: white;
}

@media (min-width: 240px) and (max-width: 768px) {
      p.center-p{
        position: relative;
        text-align: center;
        top: 36%;
        margin-top: 130px;
        font-size: 1em;

      }
}
